{% extends "layout.html" %}
{% block content %}

    <nav class="navbar" >
        <h6>Current time: </h6>
        <a href="{{url_for('logout')}}">Logout</a>
    </nav>
    <div class="row">
        <div class="sidebar">
            <ol>
                <li>
                    <a href="#">Lights_On</a>
                </li>
                <li>
                    <a href="#">Lights_Off</a>
                </li>
                <li>
                    <a href="#">Reset IoT</a>  
                </li>
            </ol>
        </div>
        <div>
            <table class="table"> 
                <thead class="thead-dark m-20px">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Low</th>
                        <th scope="col">Lights_On</th>
                        <th scope="col">High</th>
                        <th scope="col">Lights_Off</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}