{% extends ("layout.html") %}
{% block content %}
     <img id='background-img' src='{{url_for('static',filename='images/image1.jpg')}}'>

    <div class='wrapper'>
            <form class="login-form" method="POST" action="">
                {{ form.hidden_tag() }}
                    <h2 class="login">
                        Sign Up
                    </h2>
                    <div class="username">
                        {{ form.username.label(class="input-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="inputs") }}
                            <div>
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="inputs") }}
                        {% endif %}
                    </div>
                    <div class="username">
                        {{ form.email.label(class="input-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="inputs") }}
                            <div>
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="inputs") }}
                        {% endif %}
                    </div>
                    <div class="password">
                        {{ form.password.label(class="input-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="inputs") }}
                            <div>
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="inputs") }}
                        {% endif %}
                    </div>
                    <div class="confirm_password">
                        {{ form.confirm_password.label(class="input-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="inputs") }}
                                <div>
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="inputs") }}
                        {% endif %}
                    </div>
                <div >
                {{ form.submit(class="button") }}
                </div>
                <a class="forgot-pw" href="{{url_for('login')}}"><span>Already have an account</span></a>
            </form>
    </div><!--end log form -->

{% endblock content %}