body
{
    background-color: #101112;
}
header
{
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
} 
img
{
    background-position: center;
    background-size: contain;

}  
nav
{
    background: rgba(0,0,0, .8);
    height: 25px;
    border: 2.5px solid black;
    background-color:  #2e2f34;
    overflow: hidden;
    padding: 10px 10px 10px 10px ;
    position: sticky;
    top: 0;
}
nav a
{
    text-align: center;
    padding: 12px 12px;
    font-size: 17px;
    color: ghostwhite;
    text-transform: uppercase;

}
nav a:hover
{
    background-color: lightgray;
    color: black;
}
.nav-left
{
    float: left;
    font-weight: bold;
}
.nav-left a.active
{
    background: lightgray;
    color: black;
}
.nav-right
{
    float: right;
    font-weight: bold;
}